body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* 水平方向居中 */
    align-items: center;    /* 垂直方向居中 */
    background-image: url('https://wxgame-images.oss-cn-beijing.aliyuncs.com/wallhaven-ex52kw.png'); /* 替换为你的图片路径 🌄 */
    background-size: cover; /* 保持图像比例并覆盖整个屏幕 📸 */
    background-position: center; /* 将图像中心放置于可视区域中心 🎯 */
    background-repeat: no-repeat; /* 防止背景图像重复 🚫 */
}

@font-face {
    font-family: 'apple';
    src:url("static/font/No.136-ShangShouYouRanTi-2.ttf");
}
@font-face {
    font-family: 'pingfang';
    src:url("static/font/apple.ttf");
}

.song-block{
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: apple;
    /*font-size: clamp(2.3vw,2.3vw,2.3vw);*/
}
.song-name{
    position: absolute;
    top: 5%;
    left: 10%;
    color: rgba(50,50,50,0.6);
    font-weight: bold;
    font-size: clamp(0vh, 2.8vh, 13vh);
}
.songer{
    position: absolute;
    top: 14%;

    font-family: pingfang;
    left: 50%;
    color: rgba(50,50,50,0.4);
    font-weight: bold;
    font-size: clamp(1.3vh, 2vh, 2vh);
}
.song-word1{
    position: absolute;
    top: 40%;
    left: 10%;
    color: rgba(50,50,50,0.5);
    font-size: clamp(1vh, 1.7vh, 10vh);
}
.song-word2{
    position: absolute;
    top: 60%;
    left: 10%;
    color: rgba(50,50,50,0.5);
    font-size: clamp(1vh, 1.7vh, 10vh);
}
.song-word3{
    position: absolute;
    top: 80%;
    left: 10%;
    color: rgba(50,50,50,0.5);
    font-size: clamp(1vh, 1.7vh, 10vh);
}
.song-word4{
    position: absolute;
    top: 100%;
    left: 10%;
    color: rgba(50,50,50,0.5);
    font-size: clamp(1vh, 1.7vh, 10vh);
}

.icons{
    position: absolute;
    width: 76%;
    height: 30%;
    display: flex;
    left: 10%;
    top: 85%;
    /*background-color: rgba(230,230,230,0.7);*/
}
.icons-item{
    width: 8%;
    height: 29%;
    margin-left: 5px;
}


.block1{
    position: absolute;
    width: 70%;
    height: 40%;
    display: flex;
    top: 16%;
    left: 15%;
    background-color: rgba(255,255,255,0.9);
}
.song{
    position: absolute;
    width: 45%;
    height: 45%;
    left: 54%;
    top: 40%;
    /*background-color: rgba(230,230,230,0.7);*/
}

.song-image-block{
    position: absolute;
    width: 54%;
    overflow: hidden;
    height: 100%;
    /*background-color: aqua;*/
}
.song-image{
    height: 100%;
}

/*.head-image{*/
/*    position: absolute;*/
/*    width: 12vh;*/
/*    height: 12vh;*/
/*    border-radius: 500px;*/
/*    left: 10%;*/
/*    top: 10%;*/
/*    opacity: 1;*/
/*    box-shadow:0px 0px 15px rgba(100,100,100,1);*/
/*}*/

.responsive-block {
    position: relative;
    /*top: 2%;*/
    /*left: 2%;*/
    /*transform: translate(-50%, -50%);*/
    width: calc(100vw * 0.96); /* 初始设置宽度基于屏幕宽度的75% */
    height: 96vh; /* 初始设置高度基于屏幕高度的100% */
    /*background-color: lightblue; !* 设置背景颜色以便观察 *!*/
    /*max-width: 100vw; !* 防止宽度超过屏幕宽度 *!*/
    /*max-height: calc(100vw * 0.75 * (3 / 4)); !* 高度保持4:3的比例 *!*/
    max-height: 100vh;
    max-width: calc(100vh * 0.55);
}

.block{
    box-shadow:0px 0px 10px rgba(100,100,100,1);
    border-radius: 0px;
}
.block:hover{
    box-shadow: 0px 0px 50px rgba(60,60,60,1);
    transition-duration: 0.1s;
}

.tags{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 60%;
    /*background-color: rgba(255,255,255,0.2);*/
}

.tag-item-word{
    position: absolute;
    font-weight: bold;
    font-family: apple;
}
.tag-album{
    left: 60%;
    bottom: 75%;
    font-size: clamp(0vh, 5.8vh, 13vh);
    color: #6c18a5;
}
.tag-wechat{
    left: 40%;
    bottom: 41.5%;
    font-size: clamp(0vh, 3.0vh, 13vh);
    color: #178362;
}
.tag-cloudmusic{
    margin-bottom: 0%;
    left: 60%;
    bottom: 24%;
    font-size: clamp(0vh, 5.8vh, 13vh);
    color: chocolate;
}
.tag-email{
    left: 13%;
    bottom: 40%;
    font-size: clamp(0vh, 5.5vh, 13vh);
    color: darkcyan;
}
.tag-mbti{
    left: 60%;
    bottom: 58.5%;
    font-size: clamp(0vh, 4.6vh, 13vh);
    color: brown;
}
.tag-address{
    left: 60%;
    bottom: 42%;
    font-size: clamp(0vh, 2.8vh, 13vh);
}
.tag-star{
    left: 24%;
    bottom: 25%;
    font-size: clamp(0vh, 2.5vh, 13vh);
}
.tag-github{
    /*margin: 0px;*/
    left: 36%;
    bottom: 24.0%;
    font-size: clamp(0vh, 3.8vh, 13vh);
    color: #1f363c;
}
.tag-tiktok{
    left: 12%;
    bottom: 25%;
    font-size: clamp(0vh, 2.5vh, 13vh);
}
.tag-time{
    left: 12%;
    bottom: 73%;
    font-size: clamp(0vh, 6.8vh, 13vh);
}
.tag-date{
    left: 12%;
    bottom: 60%;
    font-size: clamp(0vh, 2.6vh, 13vh);
}
.tag-cnblog{
    left: 11.4%;
    bottom: 6%;
    font-size: clamp(0vh, 5.0vh, 13vh);
    color: #b6b5b5;
}
.bocchi-gif{
    position: absolute;
    width: 15vh;
    bottom: 4%;
    left: 60%;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.overlay img {
    max-width: 90%;
    max-height: 90%;
}